html {
    scroll-behavior: smooth;
}

.thumb {
    padding: 0 !important;
    border: none !important;
}

.thumb img {
    width: inherit;
    height: inherit;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#sticky-header {
    max-height: 82px;
    display: flex;
    align-items: center;
}

#apply_job {
    padding-top: 80px !important;
}

.boxed-btn3 {
    background: var(--orange);
    border: 1px solid #c14c00;
}

.boxed-btn3:hover {
    background: #fff;
    border: 1px solid #c14c00;
    color: var(--orange) !important;
}

.boxed-btn4 {
    color: var(--orange) !important;
    border: 1px solid #c14c00;
}

.boxed-btn4:hover {
    color: #fff !important;
    background: #c14c00;
}

.footer .footer_top .footer_widget .newsletter_form button {
    background: var(--orange);
}

.single_jobs .jobs_right .apply_now a.heart_mark {
    color: var(--orange) !important;
    background: #EFFDF5;
}

.single_jobs .jobs_right .apply_now a.heart_mark:hover {
    background: var(--orange) !important;
    color: #EFFDF5 !important;
}

.header-area .main-header-area.sticky {
    background: rgb(255 129 0 / 80%);
}

.footer {
    background: orange;

}

.footer a,
.footer p,
.footer input,
.footer input::placeholder {
    color: white !important;

}

.footer_logo a img,
.logo a img {
    width: 65px;
    height: 65px;
    background-color: antiquewhite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.tags_list ul li a {
    color: gray !important;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tags_list ul li a:hover {
    color: white !important;
    background-color: var(--orange) !important;
}

#navigation .active>a {
    color: #AE0C12;
}

.job_details_area .job_sumary .summery_header h3 {
    margin: 0;
}

.job_details_area .job_sumary .summery_header {
    padding: 20px 40px;
}

.header-area .main-header-area .main-menu ul li a:hover {
    color: #AE0C12 !important;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin: 0 !important;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p.address {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
