html {
    scroll-behavior: smooth;
}

#page-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 100;
    left: 0;
    top: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

}

.thumb {
    padding: 0 !important;
    border: none !important;
}

.thumb img {
    width: inherit;
    height: inherit;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#sticky-header {
    max-height: 82px;
    display: flex;
    align-items: center;
}

#apply_job {
    /* padding-top: 80px !important; */
}

.boxed-btn3 {
    background: var(--orange);
    border: 1px solid #c14c00;
}

.boxed-btn3:hover {
    background: #fff;
    border: 1px solid #c14c00;
    color: var(--orange) !important;
}

.boxed-btn4 {
    color: var(--orange) !important;
    border: 1px solid #c14c00;
}

.boxed-btn4:hover {
    color: #fff !important;
    background: #c14c00;
}

.footer .footer_top .footer_widget .newsletter_form button {
    background: var(--orange);
}

.single_jobs .jobs_right .apply_now a.heart_mark {
    color: var(--orange) !important;
    background: #EFFDF5;
}

.single_jobs .jobs_right .apply_now a.heart_mark:hover {
    background: var(--orange) !important;
    color: #EFFDF5 !important;
}

.header-area .main-header-area.sticky {
    background: rgb(255 129 0 / 80%);
}

.footer {
    background: orange;

}

.footer a,
.footer p,
.footer input,
.footer input::placeholder {
    color: white !important;

}

.footer_logo a img,
.logo a img {
    width: 65px;
    height: 65px;
    background-color: antiquewhite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.tags_list ul li a {
    color: gray !important;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tags_list ul li a:hover {
    color: white !important;
    background-color: var(--orange) !important;
}

#navigation .active>a {
    color: #AE0C12;
}

.job_details_area .job_sumary .summery_header h3 {
    margin: 0;
}

.job_details_area .job_sumary .summery_header {
    padding: 20px 40px;
}

.header-area .main-header-area .main-menu ul li a:hover {
    color: #AE0C12 !important;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin: 0 !important;
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p.address {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-show-comment-child,
.btn-reply-comment {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-show-comment-child:hover,
.btn-reply-comment:hover {
    color: #AE0C12;
    font-weight: bold;
}

.group-reply-comment {
    gap: 10px;
}

.display-comment .display-comment {
    margin-left: 40px
}

.display-comment {
    margin-bottom: 20px;
}

.comment-info {
    background-color: #cccccc80;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.group-reply-comment button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* Start Emoji React css ===============================================================================================================*/
.react {
    --r: 70px;
    display: inline-grid;
    vertical-align: middle;
    cursor: pointer;
    width: var(--r);
    height: var(--r);
    border-radius: 50%;
    line-height: var(--r);
    text-align: center;
    transform: rotate(0);
}

.react i[data-icon]:before {
    content: attr(data-icon);
    font-style: normal;
    font-size: calc(0.6*var(--r));
}

.react i:before {
    grid-area: 1/1;
    font-size: calc(0.8*var(--r));
}

.react i {
    /* filter: grayscale(100%); */
    transform: scale(1);
    grid-area: 1/1;
    display: inherit;
    line-height: inherit;
    transition: transform .6s cubic-bezier(0.5, -12, 1, -12);
}

.react:hover {
    transform: rotate(0.1deg);
    transition: transform 0.25s cubic-bezier(0.5, 400, 0.5, -400);
}

.react:before {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    border: solid orange calc(var(--r)/2);
    transform: scale(0);
}

.react:after,
.react i:after {
    content: "";
    grid-area: 1/1;
    --c1: radial-gradient(red 50%, #0000 60%);
    --c2: radial-gradient(orange 50%, #0000 60%);
    background:
        var(--c1), var(--c1), var(--c1), var(--c1),
        var(--c2), var(--c2), var(--c2), var(--c2);
    background-size: calc(var(--r)/6) calc(var(--r)/6);
    background-position:
        calc(50% - var(--r)/2) calc(50% - var(--r)/2),
        calc(50% + var(--r)/2) calc(50% - var(--r)/2),
        calc(50% - var(--r)/2) calc(50% + var(--r)/2),
        calc(50% + var(--r)/2) calc(50% + var(--r)/2),
        calc(50% + 0px) calc(50% + var(--r)*0.707),
        calc(50% + var(--r)*0.707) calc(50% + 0px),
        calc(50% - var(--r)*0.707) calc(50% + 0px),
        calc(50% + 0px) calc(50% - var(--r)*0.707);
    background-repeat: no-repeat;
    transform: scale(0);
}

.react i:after {
    background-size: calc(var(--r)/8) calc(var(--r)/8);
    transform: rotate(60deg) scale(0);
    -webkit-transform: rotate(60deg) scale(0);
    -moz-transform: rotate(60deg) scale(0);
    -ms-transform: rotate(60deg) scale(0);
    -o-transform: rotate(60deg) scale(0);
}

.box-emoji-react label.checked i {
    filter: grayscale(0);
    transform: scale(0.95);
    transition: filter .5s .5s, transform 1s cubic-bezier(0, 26.67, .5, 26.67);
    border: 1px solid var(--orange);
    content: "";
    grid-area: 1/1;
    --c1: radial-gradient(red 50%, #0000 60%);
    --c2: radial-gradient(orange 50%, #0000 60%);
    background: var(--c1), var(--c1), var(--c1), var(--c1), var(--c2), var(--c2), var(--c2), var(--c2);
    background-size: calc(var(--r)/6) calc(var(--r)/6);
    background-position: calc(50% - var(--r)/2) calc(50% - var(--r)/2), calc(50% + var(--r)/2) calc(50% - var(--r)/2), calc(50% - var(--r)/2) calc(50% + var(--r)/2), calc(50% + var(--r)/2) calc(50% + var(--r)/2), calc(50% + 0px) calc(50% + var(--r)*0.707), calc(50% + var(--r)*0.707) calc(50% + 0px), calc(50% - var(--r)*0.707) calc(50% + 0px), calc(50% + 0px) calc(50% - var(--r)*0.707);
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box-emoji-react input:checked+.react:before {
    border-width: 0;
    transform: scale(1);
    transition:
        transform 0.5s,
        border-width 0.5s 0.5s;
}

.box-emoji-react input:checked+.react:after,
.box-emoji-react input:checked+.react i:after {
    transform: scale(1);
    opacity: 0;
    background-size: 0 0;
    transition:
        transform 0.5s 0.5s,
        opacity 0.4s 0.9s,
        background-size 0.5s 0.9s;


}

.box-emoji-react input:checked+.react i:after {
    transform: rotate(55deg) scale(1);
}


.box-emoji-react input {
    position: absolute;
    visibility: hidden;
    clip-path: inset(50%)
}

.box-reations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

/* End Emoji React css*/

.blog_item_img {
    max-height: 350px;
    display: flex;
}

.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-orange-checked {
    background-color: orangered;
    color: white;
}

.btn-orange {
    background-color: var(--orange);
    color: white;
}

.post-description {
    /* max-width: 220px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
